
@model CiCiLibrary.Models.Book

@using (Html.BeginForm("Create", "Book", FormMethod.Post, new { id = "bookForm" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Create Book</h4>
        <button type="button" class="close x-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorId)
            @Html.DropDownListFor(model => model.AuthorId, ViewBag.Authors as SelectList, "Select Author", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AuthorId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublisherId)
            @Html.DropDownListFor(model => model.PublisherId, ViewBag.Publishers as SelectList, "Select Publisher", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PublisherId)
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Cancel</button>
        <button type="button" id="saveBook" class="btn btn-primary">Submit</button>
    </div>
}
